   .hero1 {
    background-color: black;
    text-align: center;
    color: white;
    font-family:monospace;
    padding: 0;
    margin:50px;


   }
   .pr {
    font-size: large;
   }
   .pr2{
    color: yellow;
   }
   .aubit{
    color: yellow;
   }
   button{
    background-color: purple;
    color: white;
    border-color: purple;
    border-style:dotted;
    border-radius: 15px;
    padding: 5px;

    margin: 5px;
   }
   body{
    background-color: black;
    margin: 0px;
    padding: 0px;

   }
.hero2{
    
    margin-top: 100px;
    color: white;
    font-family: monospace;
    
}
.star{
    font-size: large;
    color: purple;
    
}
.pr3{
    font-size: large;
}

@media (max-width:600px){
    body {
        font-size: 14px;
    }
}